#footer-upper{
  background-color: $brand-color-dark;
  color: #fff;
  padding-top:60px;
  padding-bottom:40px;

  h4{
    font-size:20px;
    font-weight: $font-weight-bold;
  }

  #footer-nav{
    list-style:none;
    padding-left:0;

    li a{
      color:#fff;
      text-transform:uppercase;

      &:hover,
      &:focus{
        color:#fff;
        text-decoration: underline;
      }
    }
  }

  .emergency-phone{
    font-size: 30px;
    font-weight: $font-weight-bold;
  }

  .social a{
    font-size:50px;
    color: #fff;
    margin-right:15px;

    &:hover,
    &:focus{
      color: $brand-color-alt;
    }
  }
}

#colophon{
  background-color: $brand-color-darker;
  color:#fff;
  padding-top:40px;
  padding-bottom:40px;
  text-align: center;
  font-size:14px;

  p{
    max-width:615px;
    margin-left:auto;
    margin-right:auto;
  }

  a{
    color:#fff;

    &:hover,
    &:focus{
      color:#fff;
      text-decoration: underline;
    }
  }
}
