#hero{
  min-height: 650px;
  position:relative;
  background-repeat:no-repeat;
  background-size:cover;
  padding-top:40px;
  padding-bottom:40px;

  .hero-caption{
    color: #fff;
    position:relative;
    z-index:3;

    h1{
      color: #fff;
    }

    p{
      font-size: 20px;
      font-weight: $font-weight-bold;

      &.cursive{
        font-size: 32px;
        color: $brand-color-alt;
      }
    }
  }

  @include media-breakpoint-down(991px){
    .btn-callnow{
      margin-top:60px;
    }
  }
}

.entry-content{
  padding-top: 40px;
  padding-bottom: 40px;
}

#service-areas{
  color: #fff;
  padding-bottom:0;
  padding-top:0;

  @include media-breakpoint-up(md){
    margin-top:200px;
  }

  .virginia{
    position:absolute;
    right:0;
    top:-253px;
  }

  h4{
    font-size:20px;
    font-weight: $font-weight-bold;
    margin-top:25px;
  }

  .list-inline{
    margin-bottom:25px;
  }
  .list-inline li{
    display:inline;

    &::after{
      content: "\2022";
      margin-left:5px;
      margin-right:5px;
    }

    &:last-child::after{
      content:"";
    }
  }

  .marker-side{
    position:relative;

    img{
      position:absolute;
      bottom:0;
      right:0;
    }
  }
}

#certifications{
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;

  .cert-card{
    margin-top: 40px;

    h3{
      font-size:20px;
      font-weight: $font-weight-bold;
      margin-top:20px;
    }
  }

  .cert-img{
    position:relative;

    &::before{
      content:"";
      height:30px;
      width:100%;
      background-color: $brand-color-alt;
      position:absolute;
      top:50%;
      left:0;
      transform:skew(-16deg);
    }
  }
}

#hp-services{
  border-top: 30px solid $brand-color-alt;
  background-image:url(images/lattice-pattern.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  padding-top:40px;
  padding-bottom:40px;

  ul{
    list-style-image:url(images/droplet.png);
    
    li{
      font-size:20px;
    }
  }

  .btn-main{
    margin-top:40px;
  }
}

#hp-coupons{
  padding-top:40px;
  padding-bottom:80px;
  text-align:center;
  background-color: $brand-color;
  border-top: 30px solid $brand-color-alt;

  .section-intro{
    color: #fff;

    h2{
      color:#fff;
    }
  }
}

#testimonials{
  background-color: $brand-color-alt;
  text-align: center;
  color:#fff;
  padding-bottom:0;

  .cursive{
    color: #fff;
  }

  .carousel-indicators{
    bottom: -60px;

    li{
      height: 18px;
      width: 18px;
      transform: skew(-16deg);
      background-color: #fff;
      opacity: 1;

      &.active,
      &:hover{
        background-color: $brand-color;
      }

      & + li{
        margin-left:25px;
      }
    }
  }
  .carousel-inner{
    margin-top:40px;
  }

  .speech-bubble{
    width:100%;
    height: auto;
  }

  .testimonial-author{
    font-size:14px;
  }
}