/*******************************
  custom variables and 
  bootstrap overrides
********************************/

$font-family-main: "Montserrat", sans-serif;
$font-family-alt: "Oswald", sans-serif;
$font-family-cursive: "Courgette", cursive;

$font-weight-normal: 400;
$font-weigth-bold: 700;
$font-weight-black: 900;

$brand-color: #55507f;
$brand-color-alt: #f20090;
$brand-color-dark: #423c5e;
$brand-color-darker: #2e2b40;